@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--very-light-gray);
  font-size: 15px;
  font-family: Poppins, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 24rem;
  min-width: 20rem;
}

header {
  text-align: center;
  width: 90%;
  margin-bottom: 3rem;
}

.slogan {
  font-size: 1.7rem;
  font-weight: 200;
  color: var(--grayish-blue);
  margin-bottom: unset;
}

header h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--very-dark-blue);
  margin-top: unset;
  margin-bottom: 0.5rem;
}

.hero-description {
  color: var(--grayish-blue);
  font-size: 1.05rem;
  word-spacing: 0.2em;
  margin-bottom: 2.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
  width: 90%;
}

.center-cards {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 15rem;
  border-top: solid 0.2rem;
  border-radius: 0.33rem;
  flex: 1;
  box-shadow: var(--grayish-blue) 0px 16px 10px;
  padding-right: 2em;
  padding-left: 2em;
  position: relative;
}

.supervisor {
  border-color: var(--primary-cyan);
}

.team-builder {
  border-color: var(--primary-red);
}

.karma {
  border-color: var(--primary-orange);
}

.calculator {
  border-color: var(--primary-blue);
}

.card h2 {
  font-size: 1.5rem;
  color: var(--very-dark-blue);
  margin-top: 1.5rem;
  margin-bottom: 0.1em;
}

.card div.card-description {
  font-size: 0.9rem;
  color: var(--grayish-blue);
  margin-bottom: 1.5rem;
}

.card > img {
  align-self: flex-end;
  justify-self: flex-end;
  position: absolute;
  bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    gap: 2rem;
    max-width: 80rem;
  }
  header {
    width: 50%;
  }
  main {
    flex-direction: row;
    gap: 2rem;
  }
  .center-cards {
    height: min-content;
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    gap: 2rem;
  }
  .card {
    flex-basis: 33%;
  }
}
